@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-60px); }
  60% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

@keyframes swing {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveLarge {
  0% {
    opacity: 0;
    transform: translateX(-300px); }
  25% {
    opacity: 0.5;
    transform: translate(0, -180px); }
  45% {
    opacity: 0.8;
    transform: translate(300px, 0px); }
  100% {
    opacity: 1;
    transform: translateX(0px);
    transform: rotate(); } }

@keyframes moveSmall {
  0% {
    opacity: 0;
    transform: translateX(-300px);
    transform: rotate(); }
  60% {
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translateX(0px);
    transform: rotate(); } }

.header {
  height: 95vh;
  font-family: "Roboto" ,sans-serif;
  color: white;
  background-image: linear-gradient(to left, rgba(126, 213, 111, 0.68), rgba(40, 180, 133, 0.7)), url("../img/hero.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.btn:visited, .btn:link {
  color: black;
  background-color: white;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 40rem;
  box-shadow: 0px 4px 7px rgba(17, 16, 16, 0.733);
  animation: appear  2s  ease-in 0.5s;
  animation-fill-mode: backwards;
  position: relative;
  margin-top: 3rem;
  padding: 1.8rem; }

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 5px rgba(17, 16, 16, 0.733); }
  .btn:hover::after {
    transform: scale(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0px 3px 3px; }

.btn::after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 100%;
  position: absolute;
  border-radius: 10rem;
  background-color: white;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #54c47a;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #54c47a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #54c47a;
  color: white;
  transform: translateY(-0.5rem);
  box-shadow: 0px 4px 5px rgba(25, 25, 25, 0.712); }

.btn-text:active {
  box-shadow: 0px 3px 2px rgba(17, 16, 16, 0.733); }

.button_card {
  width: 12rem; }
  .button_card:visited, .button_card:link {
    font-size: 1.6rem;
    animation: none;
    padding: 2rem;
    margin-top: 22rem; }

.section_button:visited, .section_button:link {
  background-color: #54c47a;
  color: white;
  animation: none;
  margin-top: 1rem;
  margin: auto; }

.heading-primary {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -30%);
  width: auto;
  text-align: center;
  color: aliceblue;
  font-size: 1.8rem;
  text-transform: uppercase; }
  .heading-primary__large-text {
    font-size: 6rem;
    letter-spacing: 20px;
    display: block;
    text-transform: uppercase;
    animation: moveLarge 2s linear; }
  .heading-primary__small-text {
    margin-top: 10px;
    font-size: 2rem;
    letter-spacing: 8px;
    display: block;
    text-transform: uppercase;
    animation: moveSmall 2s ease-in;
    transform: translateX(5.5%);
    transform: translate(-2%, -30%); }

.heading-secondary {
  font-size: 4rem;
  padding: 4rem;
  display: inline-block;
  background-image: linear-gradient(to left, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.7)), url("../img/hero.jpg");
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.2s all; }
  .heading-secondary:hover {
    cursor: default;
    color: lighten;
    transform: skew(10deg, 2.6deg) scale(1.16);
    text-shadow: 0.5rem 1rem 2rem rgba(3, 1, 2, 0.358); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 30px; }

p::selection {
  color: #1ac921;
  background: #caedc7; }

.feature {
  background-image: linear-gradient(to left, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.7)), url("../img/hero.jpg");
  transform: skewY(353deg);
  margin-top: -13rem;
  padding: 18rem 1rem;
  background-size: cover;
  font-size: 1.6rem; }
  .feature-box {
    text-align: center;
    background-color: #e0fadda8;
    transition: all .2s; }
    .feature-box-text {
      text-align: justify;
      padding: .8rem;
      margin-bottom: 2rem; }
    .feature-box:hover {
      transform: translateY(-2rem) scale(1.0006);
      background-color: #e0faddcc;
      outline: 3px solid rgba(84, 196, 122, 0.5); }
  .feature .row {
    margin-top: -4rem;
    transform: skewY(7deg); }

.tours {
  margin-top: -20rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #e0faddcc; }
  .tours .row {
    padding-top: 30rem; }

.heading-card {
  font-size: 1.8rem;
  margin-top: -5rem;
  position: absolute;
  margin-left: 11rem;
  z-index: 5;
  color: white;
  font-weight: 400; }
  .heading-card-1 {
    background-color: rgba(233, 170, 87, 0.788); }
  .heading-card-2 {
    background-color: rgba(233, 107, 233, 0.582); }
  .heading-card-3 {
    background-color: rgba(99, 218, 218, 0.658); }

.heading-button {
  font-size: 2rem;
  margin-top: 5rem;
  z-index: 5;
  color: white;
  font-weight: 400; }

.card-text {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center; }
  .card-text-list {
    font-size: 1.6rem;
    margin-top: 4rem;
    margin-left: 3rem;
    line-height: 4rem; }
    .card-text-list li {
      border-bottom: 1px solid rgba(48, 48, 48, 0.425);
      margin-right: 2rem;
      padding-bottom: 3px; }

.section-about {
  padding: 18rem 0;
  text-align: center;
  margin-top: -24vh;
  background: #e0fadd7a; }

.logo-box--white {
  height: 4rem;
  margin: 2rem;
  animation: appear 2s ease-in; }

.logo-box:hover {
  animation: swing 3s ease-in-out; }

.font_icons {
  padding-top: 1rem;
  font-size: 8rem;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  transition: all .2s;
  background-image: linear-gradient(to left, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.7)), url("../img/hero.jpg");
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }
  .font_icons:hover {
    transform: translateY(-1.4rem); }

.card {
  perspective: 180rem;
  cursor: pointer;
  padding-top: 3rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  height: 55rem;
  position: relative;
  border-radius: 3rem;
  justify-content: center;
  text-align: center;
  background-blend-mode: screen; }
  .card-1 {
    align-content: center; }
    .card-1-front {
      width: 100%;
      height: 55rem;
      position: absolute;
      top: 0px;
      transition: all .8s ease;
      backface-visibility: hidden;
      box-shadow: 0rem 1.5rem 4rem rgba(56, 55, 55, 0.507);
      background-image: linear-gradient(rgba(238, 208, 143, 0.8), rgba(231, 194, 138, 0.7));
      border-radius: 3rem; }
    .card-1-back {
      width: 100%;
      height: 55rem;
      position: absolute;
      top: 0px;
      transition: all .8s ease;
      backface-visibility: hidden;
      box-shadow: 0rem 1.5rem 4rem rgba(56, 55, 55, 0.507);
      background-image: linear-gradient(to left, rgba(233, 133, 18, 0.8), rgba(219, 151, 73, 0.7));
      border-radius: 3rem;
      background-color: linear-gradient(to left, rgba(233, 133, 18, 0.8), rgba(219, 151, 73, 0.7));
      transform: rotateY(180deg); }
  .card-2 {
    align-content: center; }
    .card-2-front {
      width: 100%;
      height: 55rem;
      position: absolute;
      top: 0px;
      transition: all .8s ease;
      backface-visibility: hidden;
      box-shadow: 0rem 1.5rem 4rem rgba(56, 55, 55, 0.507);
      background-image: linear-gradient(rgba(222, 156, 228, 0.8), rgba(223, 137, 215, 0.7));
      border-radius: 3rem; }
    .card-2-back {
      width: 100%;
      height: 55rem;
      position: absolute;
      top: 0px;
      transition: all .8s ease;
      backface-visibility: hidden;
      box-shadow: 0rem 1.5rem 4rem rgba(56, 55, 55, 0.507);
      background-image: linear-gradient(to left, rgba(133, 19, 123, 0.8), rgba(211, 78, 223, 0.7));
      border-radius: 3rem;
      background-color: linear-gradient(to left, rgba(133, 19, 123, 0.8), rgba(211, 78, 223, 0.7));
      transform: rotateY(180deg); }
  .card-3 {
    background-image: line;
    align-content: center; }
    .card-3-front {
      width: 100%;
      height: 55rem;
      position: absolute;
      top: 0px;
      transition: all .8s ease;
      backface-visibility: hidden;
      box-shadow: 0rem 1.5rem 4rem rgba(56, 55, 55, 0.507);
      background-image: linear-gradient(rgba(183, 231, 221, 0.8), rgba(157, 240, 226, 0.7));
      border-radius: 3rem; }
    .card-3-back {
      width: 100%;
      height: 55rem;
      position: absolute;
      top: 0px;
      transition: all .8s ease;
      backface-visibility: hidden;
      box-shadow: 0rem 1.5rem 4rem rgba(56, 55, 55, 0.507);
      background-image: linear-gradient(to left, rgba(34, 235, 184, 0.8), rgba(107, 240, 233, 0.7));
      border-radius: 3rem;
      background-color: linear-gradient(to left, rgba(34, 235, 184, 0.8), rgba(107, 240, 233, 0.7));
      transform: rotateY(180deg); }
  .card:hover [class$='-front'] {
    transform: rotateY(-180deg); }
  .card:hover [class$='-back'] {
    transform: rotateY(0deg); }

.container {
  position: relative; }
  .container__photo {
    width: 55%;
    position: absolute;
    z-index: 10;
    transition: all 0.2s; }
    .container__photo:hover {
      z-index: 20;
      transform: scale(1.1);
      outline: 1.4rem solid #54c47a;
      outline-offset: 1.4rem; }
  .container_img--1 {
    top: -2rem;
    left: 0rem; }
  .container_img--2 {
    right: 0rem; }
  .container_img--3 {
    top: 10rem;
    left: 20%; }
  .container:hover .container__photo:not(:hover) {
    transform: scale(0.95); }

.card-image {
  background-size: cover;
  height: 45%;
  background-blend-mode: screen;
  clip-path: circle(64.8% at 50% 19%);
  border-radius: 3rem; }
  .card-image-1 {
    background-image: linear-gradient(to left, rgba(233, 133, 18, 0.308), rgba(221, 168, 107, 0.452)), url("../img/nat-5.jpg"); }
  .card-image-2 {
    background-image: linear-gradient(to left, rgba(133, 19, 124, 0.226), rgba(217, 114, 226, 0.24)), url("../img/nat-9.jpg"); }
  .card-image-3 {
    background-image: linear-gradient(to left, rgba(34, 235, 185, 0.384), rgba(107, 240, 233, 0.281)), url("../img/nat-8.jpg"); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.stories {
  padding: 3rem; }

.story {
  width: 75%;
  background: #e0fadd7a;
  margin: 4rem auto;
  padding: 6rem;
  transform: skewX(-10deg); }
  .story > * {
    transform: skewX(10deg); }
  .story-figure {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(10deg);
    position: relative;
    overflow: hidden; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__text {
    font-size: 1.6rem;
    line-height: 2.4rem; }
  .story__capt {
    position: absolute;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 160%);
    opacity: 0;
    transition: all .6s;
    backface-visibility: none; }
  .story:hover .story__capt {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1);
    filter: blur(1px) brightness(90%); }

*, *::after, *::before {
  margin: 0px;
  box-sizing: inherit;
  padding: 0px; }

html {
  font-size: 62.5%; }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%; } }

body {
  z-index: -1;
  font-family: 'Lato' ,monospace;
  height: 40rem;
  padding: 2rem;
  background-color: white;
  font-weight: 400;
  box-sizing: border-box; }
